html{
    /* default size - 16px => 16*62.5 = 10px = 1rem */
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh; /* read about unit in css */
    font-size: 1.6rem;  /* 1.6rem = 1.6*10 = 16px */
    font-family: Arial, Helvetica, sans-serif;
}

/* layouts  */

.grid-container {
    display: grid;
    grid-template-areas: 
    'header' 
    'main'
    'footer';
    grid-template-columns: 1fr;  /* single column */
    grid-template-rows: 5rem 1fr 5rem;  /* 3 rows */
    height: 100%;
}